version: '2.1'
  
services:
  image-export:
    image: jgraph/export-server
    container_name: drawio-export
    networks:
      - default
    restart: unless-stopped

  drawio:
    image: jgraph/drawio
    container_name: drawio
    networks:
      - default
      - inverseproxy_shared
    depends_on:
      - image-export
    restart: unless-stopped
    volumes:
      - ./PreConfig.js:/usr/local/tomcat/webapps/draw/js/PreConfig.js:ro
    environment:
      - EXPORT_URL=http://image-export:8000/
    labels:
      traefik.enable: "true"
      traefik.http.routers.drawio.rule: "Host(`{{ drawio_url }}`)"
      traefik.http.routers.drawio.service: "drawio"
      traefik.http.services.drawio.loadbalancer.server.port: "8080"

networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true
